/Makefile
/config.h
/config.h.in
/boxes
/build-aux
/libtool
/*.pcd
/*.jpg
/*.png
/*.tar.bz2
/*.tar.gz
/*.tar.xz
/*.vtk
*.log
*.a
*.cache
*.la
*.lo
*.o
*.stamp
*.trs
*~
.deps
.dirstamp
.libs
Makefile.in
aclocal.m4
config.log
config.status
configure
stamp-*
/tests/Makefile
/tests/image_get
/tests/image_load
/tests/library_version
