/Makefile
/boxes
/build-aux
/libtool
/*.tar.bz2
/*.tar.gz
/*.tar.xz
*.log
*.a
*.cache
*.la
*.lo
*.o
*.stamp
*~
.deps
.dirstamp
.libs
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
stamp-*
